# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/


# VS Code / IDEs
.vscode/
.idea/
.DS_Store

# Distribution / Packaged
dist/
build/
*.egg-info/

# Ignore the specific client directory, download from different repo and paste it here
client/